// fonts
.fp {font-family: 'Open Sans',sans-serif;} // font primary
.fh {font-family: 'Sakkal Majalla',serif;} // font header
.fi {font-family: 'icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@brown: #201614;
@yellow: #ffcb01;
@c1: #000000;
@c2: @yellow;

// font sizes
@fsp: 16px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// form
@input-size: 16px;
@input-height: 36px;
@input-padding: 15px;
@input-border: @brown;
@input-bg: #fff;

// layout
@content-width-lg: 1540px;
@content-width: 1160px;
@content-width-md: 960px;
@content-width-sm: 740px;
@content-width-xs: 100%;
@content-padding: 20px;

// media query >>> @media @xs, @sm
@lg: ~"(min-width: 1580px)";
@md: ~"(min-width: 992px) and (max-width: 1579px)";
@sm: ~"(min-width: 768px) and (max-width: 991px)";
@xs: ~"(min-width: 480px) and (max-width: 767px)";
@xxs: ~"(max-width: 479px)";
@toggleMenu: ~"(max-width: 1200px)";