
.icon-checkbox:before { content: '\e800'; } /* '' */
.icon-checkbox-checked:before { content: '\e801'; } /* '' */
.icon-radio:before { content: '\e802'; } /* '' */
.icon-radio-checked:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-attention-circled:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-down-open:before { content: '\e808'; } /* '' */
.icon-left-open:before { content: '\e809'; } /* '' */
.icon-right-open:before { content: '\e80a'; } /* '' */
.icon-up-open:before { content: '\e80b'; } /* '' */
.icon-arr-left:before { content: '\e80c'; } /* '' */
.icon-arr-right:before { content: '\e80d'; } /* '' */
.icon-arr-top:before { content: '\e80e'; } /* '' */
.icon-arr-down:before { content: '\e80f'; } /* '' */
.icon-logo:before { content: '\e810'; } /* '' */
.icon-thin-plus:before { content: '\e811'; } /* '' */
.icon-thin-minus:before { content: '\e812'; } /* '' */
.icon-thin-rule:before { content: '\e813'; } /* '' */
.icon-thin-gift:before { content: '\e814'; } /* '' */
.icon-cancel:before { content: '\e815'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */